---
import Base from '../layouts/Base.astro';

const title = 'test page';
const slug = 'test-page';
---

<Base title={title} slug={slug}>
	<section>
		<h1 class="main-header mb-poppins">{title}</h1>
		<p class="main-para mb-montserrat">
			This is a test page can be deleted.
		</p>
	</section>
</Base>

<style></style>
