---
const {lang} = Astro.params;

const content = {
    'en': {
        'title': 'welcome',
        'p': 'Astro.build multilingual template for building websites quickly with a translated UI and Content.'
    },
    'ar': {
        'title': 'أهلاً',
        'p': 'قالب Astro.build متعدد اللغات لإنشاء مواقع الويب بسرعة باستخدام واجهة مستخدم ومحتوى مترجمين.'
    }
};
---
<section>
    <h1 class="main-header mb-poppins">{content[lang].title}</h1>
    <p class="main-para mb-montserrat">{content[lang].p}</p>
</section>