---
// select props if no found use default
const { title } = Astro.props;
const { lang } = Astro.params;

// search for Lang Meta if no found select default
const translationsMeta = await Astro.glob('../locals/meta.json');
const langMeta = translationsMeta[0]['default'].filter(metaLang => metaLang.name === lang)[0];

import Nav from './Nav.astro';
---

<!DOCTYPE html>
<html lang={lang} dir={langMeta.dir}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
		<script src="//unpkg.com/alpinejs" defer></script>
	</head>
	<body>
		<div id="base-grid">
			<Nav />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global lang="scss">
	@use '../styles/mixins.scss' as *;

	* {
		&:focus {
			outline: unset!important;
		}
		& {
			margin: 0;
			padding: 0;
		}
	}

	html {
		font-size: 62.5%;
	}

	body {
		overflow-y: auto;
		overflow-x: hidden;
	}

	html, body, #base-grid {
		height: 100%;
	}

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	.mb-montserrat {
		font-family: 'Montserrat', sans-serif;
		
		[lang='ar'] & {
			font-family: 'Tajawal', sans-serif;
		}
	}

	.mb-poppins {
		font-family: 'Poppins', sans-serif;

		[lang='ar'] & {
			font-family: 'Vazirmatn', sans-serif;
		}
	}

	.mb-space-holder {
		@include withRtl('margin', 0 0 0 1.5rem, 0 1.5rem 0 0);
	}

	#base-grid {
		max-width: 76.8rem;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 30rem 1fr;
		justify-items: center;
		align-items: center;

		main {
			height: 100%;
			width: 100%;
			@include withRtl('padding', 0 0 0 1rem, 0 1rem 0 0);
		}

		.main-header {
			font-size: 3.4rem;
			font-weight: 500;
			text-transform: capitalize;
			letter-spacing: 0.1rem;
		}

		.main-para {
			font-size: 2.4rem;
			font-weight: 300;

			margin-top: 1.2rem;
			@include withRtl('padding', 0 0 0 1.5rem, 0 1.5rem 0 0);
		}
	}

	[x-cloak] {
    	display: none!important;
    }
</style>