---
import translationsMeta from '../locals/meta.json';

import caretDownSolid from '../images/caret-down-solid.svg';

const {lang} = Astro.params;
---
<div id="lang-picker" x-data="{ open: false }">
	<div id="box-ctrls" @click="open = !open">
		<div id="picked" class="mb-montserrat">
			{
				Object.keys(translationsMeta)
				.filter(filteredLang => translationsMeta[filteredLang].name === lang)
				.map(mappedLang => translationsMeta[mappedLang].target)
			}
		</div>
		<img src={caretDownSolid} alt="" />
	</div>
	<ul id="box-list" x-cloak x-show="open">
		{
			Object.keys(translationsMeta)
			.filter(filteredLang => translationsMeta[filteredLang].name !== lang)
			.map(mappedLang => {
				return <li><a class="mb-montserrat" href={`/${translationsMeta[mappedLang].name}/`}>{`${translationsMeta[mappedLang].target}`}</a></li>
			})
		}
	</ul>
</div>