---
const {mdxFiles} = Astro.props;
const {lang} = Astro.params;
---

<ul id="articles-list">
    {
        mdxFiles.map(mdxFile => <li>
            <a href={`/${lang}/articles/${mdxFile['content'][lang]['slug']}`}>
                <h2 class="mb-montserrat">{mdxFile['content'][lang]['title']}</h2>
            </a>
        </li>)
    }
</ul>

<style lang="scss" is:global>
    @use '../styles/mixins.scss' as *;

    #articles-list {
        margin: 1.5rem 0 2rem 0;

        li {
            margin-bottom: 2rem;

            a {

                h2 {
                    font-size: 2.8rem;
                    font-weight: 400;
                    color: black;
                    border-bottom: 0.1rem rgba(0, 0, 0, 0.259) solid;
                    padding-bottom: 1rem;
                    @include withRtl('padding', 0 0 0 2rem, 0 2rem 0 0);

                    &:hover {
                        border-bottom: 0.1rem black solid;
                    }
                }
            }

            &:last-child {
                margin: 0;

                a {

                    h2 {
                        border-bottom: unset;
                    }
                }
            }
        }
    }
</style>