---
import LangPicker from '../components/layout/LangPicker.astro';

const {lang} = Astro.params;

import paths from '../locals/nav.json';

let currentPathId = null;
Object.keys(paths).forEach(path => {
    if(Astro.url.pathname.includes(paths[path][lang].slug)) {
        currentPathId = path;
    }
});
---
<nav>
    <ul>
        {
            Object.keys(paths).map(path => {
                return <li>
                    <a 
                        class:list={[
                            'mb-montserrat', 
                            {'current': path === currentPathId}
                        ]}
                        href={`/${lang}/${paths[path][lang].slug}`}>
                        {paths[path][lang].name}
                    </a>
                </li>
            })
        }
    </ul>
    <LangPicker />
</nav>
<style is:global lang="scss">
    @use '../styles/mixins.scss' as *;
    
    nav {
        align-self: end;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;

        ul {
            li {
                display: inline-block;
                margin: 0 0.8rem;

                a {
                    font-size: 2rem;
                    font-weight: 300;
                    text-transform: capitalize;
                    color: black;

                    &.current {
                        font-weight: 500;
                        border-bottom: 0.2rem black solid;
                        padding-bottom: 0.5rem;
                    }
                }
            }
        }

        #lang-picker {
            min-width: 8rem;
            position: relative;
            border: 0.1rem solid black;
            border-radius: 2.5rem;
            padding: 0.1rem 1rem;
            @include withRtl('margin', 0 0 0 5rem, 0 5rem 0 0);

            #box-ctrls {
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                #picked {
                    width: 100%;
                    font-size: 2rem;
                    font-weight: 500;
                    text-transform: capitalize;

                    [lang='ar'] & {
                        line-height: 2.2rem;
    		            height: 1.8rem;
                    }
                }

                img {
                    width: 1.25rem;
                }
            }

            #box-list {
                position: absolute;
                padding-top: 0.5rem;

                li {
                    display: block;
                    font-weight: 300;
                }
            }

        }
    }
</style>