---
const {lastPage, currentPage} = Astro.props;

const pagesNumArr = new Array(lastPage).fill(null);
---
<ul id='paginator' class='flex w-full justify-start mt-20'>
    {
        pagesNumArr.map((_, index) => {
            return <li>
                <a class:list={['mb-poppins', {'current': index+1 === currentPage}]} href={`${index+1}`}>{index+1}</a>
            </li>
        })
    }
</ul>
<style is:global lang='scss'>
    @use '../styles/mixins.scss' as *;

    #paginator {
        text-align: center;
        margin: 2rem 0 5rem 0;

        li {
            display: inline-block;
            margin:0 1rem;

            a {
                font-size: 1.8rem;
                font-weight: regular;
                color: black;

                &.current {
                    font-weight: bold;
                    border-bottom: 0.2rem solid black;
                }
            }
        }
    }
</style>